<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="StorageName" value="storage-account" />
    <add key="StorageKey" value="Copy-and-Paste-Azure-Storage-Key" />
    <add key="ContainerName" value="container" />
    <add key="ClusterName" value="HDInsight-Cluster" />
    <add key="UserName" value="User-Name" />
    <add key="Password" value="Pa$$w0rd" />
  </appSettings>
</configuration>